@model ContosoUniversity.Models.Workload

<div>
    <h2>Workload</h2>
    <hr />
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#Publications" data-toggle="tab">Publications</a></li>
            <li><a href="#Research" data-toggle="tab">Grants & Conferences</a></li>
            <li><a href="#ResSuperv" data-toggle="tab">Supervisions & Scholar</a></li>
            <li><a href="#Service" data-toggle="tab">Service to University</a></li>
        </ul>
        <div class="tab-content" id="workfloPresentaion">
            <div role="tabpanel" class="tab-pane fade in active" id="Publications">
                <h3>Publications</h3>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 tabsectionBordered">
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.RefJourArt)<span>
                                @Html.DisplayFor(model => model.RefJourArt)</span></p>
                            <p>@Html.DisplayNameFor(model => model.AccJourArt)<span>
                                @Html.DisplayFor(model => model.AccJourArt)</span></p>
                            <p>@Html.DisplayNameFor(model => model.RefConPro)<span>
                                @Html.DisplayFor(model => model.RefConPro)</span></p>
                            <p>@Html.DisplayNameFor(model => model.AcBooksAndMono)<span>
                                @Html.DisplayFor(model => model.AcBooksAndMono)</span></p>
                            <p>@Html.DisplayNameFor(model => model.EditedBooks)<span>
                                @Html.DisplayFor(model => model.EditedBooks)</span></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.ChaptInBooks)<span>@Html.DisplayFor(model => model.ChaptInBooks)</span></p>
                            <p>@Html.DisplayNameFor(model => model.PubBooksRevs)<span>@Html.DisplayFor(model => model.PubBooksRevs)</span></p>
                            <p>@Html.DisplayNameFor(model => model.Textbooks)<span>@Html.DisplayFor(model => model.Textbooks)</span></p>
                            <p>@Html.DisplayNameFor(model => model.NonRefJourArtic)<span>@Html.DisplayFor(model => model.NonRefJourArtic)</span></p>
                            <p>@Html.DisplayNameFor(model => model.OtherPublications)<span>@Html.DisplayFor(model => model.OtherPublications)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="Research">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 tabsectionBordered">
                        <h3>Research Grants</h3>
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.ExtResGrantApplications)<span>@Html.DisplayFor(model => model.ExtResGrantApplications)</span></p>
                            <p>@Html.DisplayNameFor(model => model.ExtResGrantReceived)<span>@Html.DisplayFor(model => model.ExtResGrantReceived)</span></p>
                            <p>@Html.DisplayNameFor(model => model.IntResGrantReceived)<span>@Html.DisplayFor(model => model.IntResGrantReceived)</span></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <h3>Conferences</h3>
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.IntAndNatConferences)<span>@Html.DisplayFor(model => model.IntAndNatConferences)</span></p>
                            <p>@Html.DisplayNameFor(model => model.RegConferences)<span>@Html.DisplayFor(model => model.RegConferences)</span></p>
                            <p>@Html.DisplayNameFor(model => model.SympWorkshops)<span>@Html.DisplayFor(model => model.SympWorkshops)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="ResSuperv">
                <h3>Research Supervisions</h3>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 tabsectionBordered">
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.DiscAndTrChairAndOther)<span>@Html.DisplayFor(model => model.DiscAndTrChairAndOther)</span></p>
                            <p>@Html.DisplayNameFor(model => model.PHDPhase3)<span>@Html.DisplayFor(model => model.PHDPhase3)</span></p>
                            <p>@Html.DisplayNameFor(model => model.PHDPhase2)<span>@Html.DisplayFor(model => model.PHDPhase2)</span></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.MBA)<span>@Html.DisplayFor(model => model.MBA)</span></p>
                            <p>@Html.DisplayNameFor(model => model.MSc)<span>@Html.DisplayFor(model => model.MSc)</span></p>
                        </div>
                    </div>
                </div>
                <hr />
                <h3>Other Scholar Activities</h3>
                <div class="row">
                    <div class="form-group col-sm-6 tabsectionBordered">
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.OtherPresentations)<span>@Html.DisplayFor(model => model.OtherPresentations)</span></p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.CompButUnpubPapers)<span>@Html.DisplayFor(model => model.CompButUnpubPapers)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="Service">
                <h3>Service to University</h3>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 tabsectionBordered">
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.ProjInProgress)<span>@Html.DisplayFor(model => model.ProjInProgress)</span></p>
                            <p>@Html.DisplayNameFor(model => model.UnivCommittees)<span>@Html.DisplayFor(model => model.UnivCommittees)</span></p>
                            <p>@Html.DisplayNameFor(model => model.FacCommittees)<span>@Html.DisplayFor(model => model.FacCommittees)</span></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="workflowList">
                            <p>@Html.DisplayNameFor(model => model.DepCommittees)<span>@Html.DisplayFor(model => model.DepCommittees)</span></p>
                            <p>@Html.DisplayNameFor(model => model.ProfAssociatons)<span>@Html.DisplayFor(model => model.ProfAssociatons)</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="workflowListResult">
        <h3>After evaluation, you were given <span>@Html.DisplayFor(display => display.Duties)</span> duties</h3>
        <p><span style="font-weight:bold;">Special note: </span>@Html.DisplayFor(display => display.Notes)</p>
    </div>
</div>
<br />
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
