@model ContosoUniversity.UniversityFunctionalityModels.Models.Semester

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Semester</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Current)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Current)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Open)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Open)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
