@model IEnumerable<ContosoUniversity.Models.Entities.Semester>

@{
    ViewData["Title"] = "Index";
}

<h2>Semesters</h2>
<br />
<p>
    <a class="btn btn-success createNew" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    if (item.Current)
    {
        <tr class="bg-info">
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
    }
    else if (item.Open)
    {
        <tr class="bg-success">
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
