@model IEnumerable<ContosoUniversity.Models.Entities.Committee>

@{
    ViewData["Title"] = "Index";
}

<h2>Committies</h2>
<br />

@if (User.IsInRole("Admin"))
{
<p>
    <a class="btn btn-success createNew createComm" asp-action="CreateCommitie">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chair)
            </th>
            @if (User.IsInRole("Professor"))
            {
                <th>
                    @*Apply (coming soon)*@<span> </span>
                </th>
            }
            else if (User.IsInRole("Admin"))
            {
                <th>
                    Manage Committee life
                </th>
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chair.FullName)
        </td>
        @if (User.IsInRole("Professor"))
        {
            @*<td>
                    <a class="apply btn btn-success disabled" CommID="@item.CommitteeID" ProfID="" asp-action="Apply">In Develope</a>
                </td>*@
        }
        else if (User.IsInRole("Admin"))
        {
            <td>
                <div class="btn-group">
                    @*<a asp-action="ViewCommittee" asp-route-id="@item.CommitteeID">Members and Meetings</a>*@
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-info" asp-action="ManageCommitie" asp-route-id="@item.CommitteeID">Edit</a>
                        <a class="btn btn-warning" asp-action="Archive" asp-route-id="@item.CommitteeID">Archive</a>
                    }
                    else
                    {
                        <span> </span>
                    }
                </div>
            </td>
        }
    </tr>
}
    </tbody>
</table>

@section Scripts {
<script type="text/javascript">
{
    $(document).ready(function () {
        var serviceURL = '/Professor/ApplyToCommittee';
        $(".apply").click(function (e) {
            e.preventDefault();
            button = $(this);

            id = $(this).attr("id");
            url = '/Professor/ApplyToCommittee';
            $.ajax({
                type: "POST",
                url: url,
                data: { 'ID': id },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc() {
                button.text("Cancell").addClass("btn-danger").addClass("cancell").removeClass("btn-success").removeClass("apply");
            }

            function errorFunc() {
                alert('error');
            }

        });
        $(".cancell").click(function (e) {
            e.preventDefault();
            button = $(this);

            id = $(this).attr("id");
            url = '/Professor/RemoveApplyToCommittee';
            $.ajax({
                type: "POST",
                url: url,
                data: { 'ID': id },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc() {
                button.text("Apply").addClass("btn-success").addClass("apply").removeClass("btn-danger").removeClass("cancell");
            }

            function errorFunc() {
                alert('error');
            }

        });
    });
}
    </script>
}