@model ContosoUniversity.Models.Meetings
<br />
<nav class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @: / @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString(), new { @class = "breadcrumb-item active" })
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @: / @Html.ActionLink((string)ViewData["comTitle"], "ViewCommittee", ViewContext.RouteData.Values["controller"].ToString(), new { id = ViewData["CommitteeID"] }, new { @class = "breadcrumb-item" })
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @: / @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { comID = Model.CommitteeID, mtnID = Model.MeetingID }, new { @class = "breadcrumb-item  active" })
    }
</nav>
<h2>Edit meeting</h2>

<form asp-action="EditMeeting" asp-route-CommitteeID="@ViewData["CommitteeID"]" >
    <div class="form-horizontal">
        <h4>Edit meeting for committee</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MeetingID" />
        <input type="hidden" asp-for="CommitteeID" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div class="btn-group">
    <button id="delete" class="btn btn-info delete-link">Delete</button>
    <a class="btn btn-danger delete-confirm" style="display:none" id="leave" asp-action="DeleteMeeting" asp-route-id="@Model.MeetingID">Confirm Delete</a>
    <a asp-action="ViewCommittee" asp-route-id="@ViewData["CommitteeID"]" class="btn btn-info">Return to Committee</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        {
            $(document).ready(function () {

                $(function () {
                    $("button.delete-link").click(function () {
                        var deleteLink = $(this);
                        deleteLink.hide();
                        var confirmButton = deleteLink.siblings(".delete-confirm");
                        confirmButton.show();

                        var cancelDelete = function () {
                            removeEvents();
                            showDeleteLink();
                        };

                        var deleteItem = function () {
                            removeEvents();
                            confirmButton.hide();
                            $.post(
                                '@Url.Action("Delete")',
                                AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                                .done(function () {
                                    var parentRow = deleteLink.parents("tr:first");
                                    parentRow.fadeOut('fast', function () {
                                        parentRow.remove();
                                    });
                                }).fail(function (data) {
                                    alert("error");
                                });
                            return false;
                        };

                        var removeEvents = function () {
                            confirmButton.off("click", deleteItem);
                            $(document).on("click", cancelDelete);
                            $(document).off("keypress", onKeyPress);
                        };

                        var showDeleteLink = function () {
                            confirmButton.hide();
                            deleteLink.show();
                        };

                        var onKeyPress = function (e) {
                            //Cancel if escape key pressed
                            if (e.which == 27) {
                                cancelDelete();
                            }
                        };

                        //confirmButton.on("click", deleteItem);
                        $(document).on("click", cancelDelete);
                        $(document).on("keypress", onKeyPress);

                        return false;
                    });

                    AddAntiForgeryToken = function (data) {
                        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                        return data;
                    };
                });
            }
        )
        }
    </script>
}
