@model ContosoUniversity.Models.SchoolViewModels.ChoseDates
@{
    ViewData["Title"] = "Meeting's dates Suggestion";
}
<br />
<nav class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @: / @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString(), new { @class = "breadcrumb-item active" })
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @: / @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { @class = "breadcrumb-item" })
    }
</nav>

<form asp-action="SuggestDate">
    <div class="form-horizontal">
        <h4>Dates Suggestion</h4>
        <hr />
        <h4>Check the dates when you can participate in meeting</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MeetingID" />
        <input type="hidden" asp-for="ProfessorID" />
        <table border="1">
            <tr>
                <th style="padding:5px">Dates</th>
                @{
                    for (int i=0;i<Model.Dates.Count;i++) 
                    {
                        <th style="padding:5px">@Html.DisplayFor(c => Model.Dates[i].date.Value) </th>
                    }
                }
            </tr>
            <tr>
                <td style="padding:5px">Choice</td>
                @{
                    for (int i = 0; i < Model.Dates.Count; i++)
                    {
                        
                        <td style="padding:5px"><input type="checkbox" asp-for="@Model.Dates[i].choice" /><input type="hidden" asp-for="@Model.Dates[i].date.SuggestionID"/></td>
                    }
                }   
            </tr>
        </table>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Post Suggestions" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-info" asp-action="MyCommittee" asp-route-MeetingID='@ViewData["CommitteeID"]'>Back to Committee</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#dateTime1').datetimepicker();
        var counter = 2;
        var limit = 5;
        function addInput(divName) {
            if (counter > limit) {
                alert("You have reached the limit of possible dates");
            }
            else {
                var inputDiv = "<div>";
                var newdiv = document.createElement('div');
                newdiv.setAttribute("class", "form-group");
                newdiv.innerHTML = "<label for='Date' class='col-md-2 control-label'>Date "+counter+":</label><div class='col-md-10'><input id='dateTime"+counter+"' name='Date[]' class='form-control' /></div>";
                //newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
                document.getElementById(divName).appendChild(newdiv);
                $('#dateTime' + counter).datetimepicker();
                counter++;
            }
        }
    </script>
}
