@model ContosoUniversity.Models.SchoolViewModels.MeetingView
@{
    ViewData["Title"] = Model.Meeting.ShortTitle + " Meeting Page";
}
<br />
<nav class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @: / @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString(), new { @class = "breadcrumb-item active" })
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @: / @Html.ActionLink(Model.Meeting.Committee.Title, "ViewCommittee", ViewContext.RouteData.Values["controller"].ToString(), new { id = Model.Meeting.CommitteeID }, new { @class = "breadcrumb-item" })
    }
    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
    {
        @: / @Html.ActionLink(Model.Meeting.Title, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { comID = Model.Meeting.CommitteeID, mtnID = Model.Meeting.MeetingID }, new { @class = "breadcrumb-item  active" })
    }
</nav>
@{
    ViewData["Title"] = "Meeting Page";
}
<h2>@Html.DisplayFor(model => model.Meeting.Title)</h2>
<br />
<ul class="list-inline meetingsInline">
    <li><span>Committee:</span>  @Html.DisplayFor(model => model.Meeting.Committee.Title)</li>
    <li><span>@Html.DisplayNameFor(model => model.Meeting.Location):</span>  @Html.DisplayFor(model => model.Meeting.Location)</li>
    <li><span>@Html.DisplayNameFor(model => model.Meeting.Date):</span>
        @{
            if (Model.Meeting.FinalDate == true)
            {
                @Html.DisplayFor(model => model.Meeting.Date)
            }
            else
            {
                @:Not set
            }
        }
    </li>
</ul>
<hr />
<ul class="nav nav-tabs" role="tablist" id="meetingTab">
    <li role="presentation" class="active">
        <a href="#publicSection" aria-controls="publicSection"
           role="tab" data-toggle="tab">Public Comments</a>
    </li>
    <li role="presentation">
        <a href="#privateSection"
           aria-controls="privateSection" role="tab"
           data-toggle="tab">My Notes</a>
    </li>
    <li role="presentation">
        <a href="#fileSection"
           aria-controls="privateSection" role="tab"
           data-toggle="tab">Attachments</a>
    </li>
    <li role="presentation">
        <a href="" data-toggle="modal" data-target="#myModal2" class="btn-success commentBtn">Add New Comment</a>
    </li>
    <li>
        <a href="" data-toggle="modal" data-target="#myModal" class="btn-success fileBtn">Upload an Attachment</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="publicSection">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                @{
                    var countpub = 0;
                    foreach (var comment in Model.PublicComments)
                    {
                        if (countpub > 0)
                        {
                            <hr />
                        }
                        countpub++;
                        TimeSpan diff = (DateTime.Now - comment.DateStamp);
                        string commWritten;
                        if (diff.Days >= 1)
                        {
                            commWritten = " " + diff.Days + " days ago";
                        }
                        else
                        {
                            commWritten = " at " + comment.DateStamp.ToString("t");
                        }
                        {
                        <div class="panel panel-default" id="commentBlock_@comment.CommentID">
                            <div class="panel-heading">
                                <span>By </span>
                                <strong> @Html.DisplayFor(ModelItem => comment.ProfessorName)</strong><span class="text-muted messageTime">@commWritten</span>
                            </div>
                            <div class="panel-body">
                                @Html.Raw(comment.Comment)
                            </div><!-- /panel-body -->
                            <div class="panel-footer">
                                @{
                                    if (((diff.TotalMinutes < 10 && (int)ViewData["ProfessorID"] == comment.ProfessorID)) || User.IsInRole("Admin") || (bool)ViewData["Moderator"])
                                    {
                                        <a href="#" class="commentEdit">Edit</a>
                                        <span> | </span>
                                        <a href="#" class="commentDelete" id="comment_@comment.CommentID">Delete</a>
                                    }
                                }
                            </div>
                        </div><!-- /panel panel-default -->
                        }
                    }
                }
                @{
                    var prevDisabled = !Model.PublicComments.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.PublicComments.HasNextPage ? "disabled" : "";
                }
                @if (countpub > 0)
                {

                <a asp-action="ViewMeeting"
                   asp-route-comID="@Model.Meeting.CommitteeID"
                   asp-route-mtnID="@Model.Meeting.MeetingID"
                   asp-route-page="@(Model.PublicComments.PageIndex - 1)"
                   class="btn btn-default @prevDisabled btn">
                    Previous
                </a>
                <a asp-action="ViewMeeting"
                   asp-route-comID="@Model.Meeting.CommitteeID"
                   asp-route-mtnID="@Model.Meeting.MeetingID"
                   asp-route-page="@(Model.PublicComments.PageIndex + 1)"
                   class="btn btn-default @nextDisabled btn">
                    Next
                </a>
                }
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="privateSection">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                @{ 
                    var countPriv = 0;
                    foreach (var comment in Model.PrivateComments)
                    {
                        if (countPriv > 0)
                        {
                            <hr />
                        }
                        countPriv++;
                        TimeSpan diff = (DateTime.Now - comment.DateStamp);
                        string commWritten;
                        if (diff.Days >= 1)
                        {
                            commWritten = "commented " + diff.Days + " days ago";
                        }
                        else
                        {
                            commWritten = "commented at " + comment.DateStamp.ToString("t");
                        }
                        {
                            <div class="panel panel-default" id="commentBlock_@comment.CommentID">
                                <div class="panel-heading">
                                    <span class="text-muted messageTime">@commWritten</span>
                                </div>
                                <div class="panel-body">
                                    @Html.Raw(comment.Comment)
                                </div><!-- /panel-body -->
                                <div class="panel-footer">
                                    @{
                                        if (((diff.TotalMinutes < 10 && (int)ViewData["ProfessorID"] == comment.ProfessorID)) || User.IsInRole("Admin") || (bool)ViewData["Moderator"])
                                        {
                                            <a href="#" class="commentEdit">Edit</a>
                                            <span> | </span>
                                            <a href="#" class="commentDelete" id="comment_@comment.CommentID">Delete</a>
                                        }
                                    }
                                </div>
                            </div><!-- /panel panel-default -->
                                            }
                                        }
                    }
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="fileSection">
        <div class="row">
            <div class="col-sm-6">
                <h3>Public Files</h3>
                <div class="list-group">
                @{
                    int count = 0;
                    foreach (var file in Model.PublicFiles)
                    {
                        if (count == 0)
                        {
                            <a href="@file.File.Location" class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-between">
                                    <h3 class="mb-1">@file.File.ViewTitle</h3>
                                    <p>Uploaded on @file.File.Added by @file.Author</p>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="@file.File.Location" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h3 class="mb-1">@file.File.ViewTitle</h3>
                                    <p>Uploaded on @file.File.Added by @file.Author</p>
                                </div>
                            </a>
                        }
                        count++;
                    }
                }
                </div>
            </div>
            <div class="col-sm-6">
                <h3>My Files</h3>
                <div class="list-group">
                    @{
                        int counter = 0;
                        foreach (var file in Model.PrivateFiles)
                        {
                            if (counter == 0)
                            {
                                <a href="@file.File.Location" class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h3 class="mb-1">@file.File.ViewTitle</h3>
                                        <p>Added on @file.File.Added </p>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="@file.File.Location" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h3 class="mb-1">@file.File.ViewTitle</h3>
                                        <p>Uploaded on @file.File.Added </p>
                                    </div>
                                </a>
                            }
                            counter++;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
        <br />
        <div>
            <a class="btn btn-info" asp-action="ViewCommittee" asp-route-id="@ViewData["CommitteeID"]">Return to Committee</a>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add new file(s)</h4>
                    </div>
                    <form asp-action="FileAdd" enctype="multipart/form-data">
                        <div class="modal-body" style="padding: 20px;">
                            <div class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" name="ProfessorID" value="@ViewData["ProfessorID"]" class="form-control" />
                                <input type="hidden" name="MeetingID" value="@Model.Meeting.MeetingID" class="form-control" />
                                <input type="hidden" name="CommitteeID" value="@ViewData["CommitteeID"]" class="form-control" />
                                @*<div class="form-group">
                                    <label name="Private" class="col-md-2 control-label">Make private</label>
                                    <div class="col-md-10">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input name="Private" class="form-check-input" value="true" type="checkbox">
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                                @*<div class="form-group">
                                    <label class="col-md-2" for="Description">Optional description:</label>
                                    <div class="col-md-12">
                                        <textarea id="fileDesc" cols="80" rows="5" name="Description"></textarea>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label name="Files" class="col-md-2 control-label">File input</label>
                                    <div class="col-md-10">
                                        <input name="Files" type="file" class="form-control-file" id="InputFile" aria-describedby="fileHelp" multiple>
                                        <small id="fileHelp" class="form-text text-muted">Add required files.</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button style="float: left;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input style="float: right;"  type="submit" value="Submit files" class="btn btn-default" />
                            <input style="float: right;    margin: 10px 10px 0 0;" name="Private" class="form-check-input" value="true" type="checkbox">
                            <label style="float: right;    margin-top: 5px;" for="Private" class="col-md-4 control-label">Make upload private</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Write a comment:</h4>
                    </div>
                    <form asp-action="CommentAdd">
                        <div class="modal-body" style="padding: 20px;">
                            <div class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" name="ProfessorID" value="@ViewData["ProfessorID"]" class="form-control" />
                                <input type="hidden" name="MeetingID" value="@Model.Meeting.MeetingID" class="form-control" />
                                <input type="hidden" name="CommitteeID" value="@ViewData["CommitteeID"]" class="form-control" />

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea id="html" cols="80" rows="20" name="Comment" class="myEditor"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button style="float: left;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input style="float: right;" type="submit" value="Post" class="btn btn-default" />
                            <input style="float: right;    margin: 10px 10px 0 0;" name="Private" class="form-check-input" value="true" type="checkbox">
                            <label style="float: right;    margin-top: 5px;" for="Private" class="col-md-2 control-label">Make private</label>
          
     
                        </div>
                    </form>
                </div>
            </div>
        </div>

<div class="modal fade bs-example-modal-lg" id="comEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Write a comment:</h4>
            </div>
            <form asp-action="EditComment">
                <div class="modal-body" style="padding: 20px;">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="ID" id="editCommentID" value="" class="form-control" />
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea id="commentEditArea" cols="80" rows="20" name="Comment" class="myEditor"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="float: left;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input style="float: right;" type="submit" value="Post" class="btn btn-default" />
                    <input style="float: right;    margin: 10px 10px 0 0;" name="Private" class="form-check-input" value="true" type="checkbox">
                    <label style="float: right;    margin-top: 5px;" for="Private" class="col-md-2 control-label">Make private</label>


                </div>
            </form>
        </div>
    </div>
</div>
        @section Scripts {
            <script src="//cloud.tinymce.com/stable/tinymce.min.js?apiKey=65xcebn65p6pjrkcy30nuaoulo217ab1vjdykycyswvbmmfo"></script>
            <script>
                tinymce.init({
                    selector: '.myEditor',
                    height: 200,
                    menubar: false,
                    mediaembed_api_key: '65xcebn65p6pjrkcy30nuaoulo217ab1vjdykycyswvbmmfo',
                    plugins: [
                      'advlist autolink lists link image charmap print preview anchor',
                      'searchreplace visualblocks code fullscreen',
                      'insertdatetime media table contextmenu paste code'
                    ],
                    toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                    content_css: '//www.tinymce.com/css/codepen.min.css'
                });

                $(".commentDelete").on("click", function (event) {
                    event.preventDefault();
                    if (confirm("Are you sure you want to delete this comment?"))
                        deleteComment($(this))
                });

                function deleteComment(object) {
                    blockID = object.attr("id");
                    commentID = blockID.match(/\d+/g)[0];

                        url = '/Workflow/Committees/DeleteComment';
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { 'ID': commentID},
                            //contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: successFunc,
                            error: errorFunc
                        });
                        function successFunc() {
                            //alert('succ');
                            $("#commentBlock_" + commentID).next("hr").remove();
                            $("#commentBlock_" + commentID).remove();
                        }

                        function errorFunc() {
                            alert('An error occured. Please try again, if this error repeats please contact administrator');
                        };
                }

                $(".commentEdit").on("click", function (event) {
                    event.preventDefault();
                    editComment($(this))
                });

                function editComment(object) {
                    blockID = object.next().next().attr("id");
                    commentID = blockID.match(/\d+/g)[0];

                    url = '/Workflow/Committees/EditComment';
                    $.ajax({
                        type: "GET",
                        url: url,
                        data: { 'ID': commentID },
                        //contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: successFunc,
                        error: errorFunc
                    });
                    function successFunc(data) {
                        tinymce.get('commentEditArea').setContent(data);
                        $("#editCommentID").val(commentID);
                        //$("#commentEditArea").val(data);
                        $('#comEdit').modal('show');
                    }

                    function errorFunc() {
                        alert('An error occured. Please try again, if this error repeats please contact administrator');
                    };
                }
            </script>
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
