@model ContosoUniversity.Models.Student
@{
    ViewData["Title"] = "Student Page";
}

<div class="jumbotron">
    <h1>DMS Student Page</h1>
</div>


<h2>Welcome back, <br /><b>@Html.DisplayFor(model => model.FullName)</b></h2>
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Course Title</th>
                    <th>Grade</th>
                    <th><span> </span></th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.CourseID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                        <td>
                            <a asp-action="MyCourse" asp-route-id="@item.EnrollmentID">Browse Course</a>
                        </td>   
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="StudentCourseEdit" asp-route-id="@Model.Id">Add new Courses</a> 
    @*<a asp-action="Index">Back to List</a>*@
</div>